body,
html {
    margin: 0;
    padding: 0;

    div {
        display: block;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        margin: 0;
        padding: 0;
        position: relative;
        width: 16384px;
        height: 16384px;
    }

    .quarter
    {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 8192px;
        height: 8192px;
    }

    .image-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #444;
    }

    .image {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 2048px;
        height: 2048px;
    }

    .blocks-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .block {
        width: 64px;
        height: 64px;
        position: absolute;
        border: 1px transparent solid;
        background-color: rgba($color: #fff, $alpha: 0);
        transition: background 0.2s, border 0.5s ease, opacity 1s;
        opacity: 0;

        &:hover {
            cursor: pointer;
            transition: none;
            background-color: rgba($color: #fff, $alpha: 0.4);
            border: 0.5px rgba($color: #d1d1d1, $alpha: 0.4) solid;
            opacity: 1;
        }
    }

    #tooltip {
        display: none;
        position: fixed;
        width: 133px;
        height: 42px;
        border-radius: 3px;
        background-color: #eee;
        font-size: 11px;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 7px;
        padding-left: 12px;
        z-index: 100;

        .x,
        .y {
            margin-bottom: 3px;
            letter-spacing: 1px;

            i {
                color: #aaa;
            }
        }
    }
}